<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static './assets/main.82cfd66e.css' %}" rel="stylesheet">
    <link href="{% static './assets/mycss.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
    <title>Title</title>
</head>
<body>
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a href="{% url 'Idle' %}" class="w3-bar-item w3-button w3-padding-large">MAIN</a>
        <a href="{% url 'signage' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GALLERY</a>
      </div>
    </div>
    <div class="my_center">

        <div class="detail-contents">



            <p style="text-align: center">
                <a href="{% url 'IssueBoard' %}" class="w3-bar-item w3-button w3-padding-large">
                    <strong>Issue Board</strong></a>
            </p>
            <hr>
            <div class="wrapper">
                <table>
                    {% for list in communitylist %}
                        <ul class="nav my_center_txt">
                            <li><a href="#">{{list.name}}</a></li>
                        </ul>
                    {% endfor %}
                </table>
            </div>

            <p style="text-align: center">
                <a href="{% url 'DailyBoard' %}" class="w3-bar-item w3-button w3-padding-large">
                    <strong>Daily Board</strong></a>
            </p>
            <hr>
            <div class="wrapper">
                <table>
                    {% for list in communitylist %}
                        <ul class="nav my_center_txt">
                            <li><a href="#">{{list.name}}</a></li>
                        </ul>
                    {% endfor %}
                </table>
            </div>

            <p style="text-align: center">
                <a href="{% url 'paintlist' %}" class="w3-bar-item w3-button w3-padding-large">
                    <strong>Drawing Guest Book</strong></a>
            </p>
            <hr>


        </div>

        <div style="text-align: center">
            <div><h3 style="padding-left: 40px;">QR코드를 찍어 커뮤니티 댓글작성!</h3></div>
                        <img src = "/media/{{communityQR}}">
        </div>


    </div>
</body>
</html>