<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% static './assets/main.82cfd66e.css' %}" rel="stylesheet">
    <link href="{% static './assets/mycss.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css" >
    <link href="{% static './assets/css/sigdesign.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css" >
    <title>Title</title>
    <style>
        .shadow{
                width: 340px;
                height: 120px;
                border-radius: 10px;
                bottom: 5px;
                background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0) 5%, rgba(20, 20, 20, 0.15) 70%, rgba(20, 20, 20, 0.5) 100%, rgba(20, 20, 20, 0.75) 150%)
            }
        .my_center {
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
}
    </style>
</head>
<body>
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a href="{% url 'Idle' %}" class="w3-bar-item w3-button w3-padding-large">GALLERY</a>
        <a href="{% url 'signage' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMMUNITY</a>
      </div>
    </div>
    <div class="my_center"></div>
    <div id="wrap">
        <header id="headerArea">
            <div class="w3-top">
              <div class="w3-bar w3-black w3-card" style="font-size: 3vw; font-family: 'MinSans-Medium' !important;">
                <a href="." class="w3-bar-item w3-button w3-padding-large" \
                   style="justify-content: center;">GALLERY</a>
                <a href="{% url 'Idle' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small" \
                   style="justify-content: center;" >COMMUNITY</a>
              </div>
            </div>

        </header>

        <div class="section" style="margin-top: 20px;">
        <div class="section" id="section1">

        <div class="my_center">
        <button class="btn btn-primary btn-lg my_blue_btn"><a class="my_color_white" href="{% url 'paint' %}">방명록 남기기</a></button>
        <div class="container_media" style="position: relative">
                 {% for pic in Picture %}
                <a href="{% url 'ViewPaint' pic.id %}"> <!-- 이미지 누르면 볼수있는 페이지로 넘어감 받을 수 있게함-->
                    <span class="media_content_box" style="position: relative">
                        <img class="media_preview" style="height: 100%; width: 100%; object-fit: cover;" src="/{{pic.path}}">
                        <div class="imText2" style="left: 40px; bottom: -40px; color: black;">{{pic.createDate}}</div>
                        <div class="imText2" style="left: 40px; bottom: -70px; color: black;">{{pic.id}}번째 방명록</div>

                        <span class="shadow_box">
                            <div class="shadow"></div>
                        </span>
                    </span>
                </a>
                {% endfor %}
            </div>
            </div>

            <div class="section_blank_box" style="height: 300px;"></div>
        </div>
    </div>
    </div>

    <script type="text/javascript"></script>
</body>
</html>